<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create_new_post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/media/css/bootstrap.min.css">
    <script src="/media/js/jquery.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <style>
        body{ background: rgba(102, 51, 0, 0.3);}
    </style>

</head>
<body>
<div class="jumbotron text-center">
  <h1>Create New Post</h1>
  <p>You can add more post at here</p>
</div>
<div class="col-md-4 col-md-offset-4">
    <form action="/pools/create_post/" method="post" id="create_post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" send="" class="btn btn-success" value="Submit">
    </form>
</div>
</body>
</html>