<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/media/css/bootstrap.min.css">
    <script src="/media/js/jquery.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <style>
        body{
            background: rgba(102, 51, 0, 0.3);
            }
        img {
            max-width: 100%;
            height: auto;
            }
        .header {
            border: 1px solid black;
            padding: 15px;
            text-align: center;
            }
        .content{
            border: 1px solid black;
            padding: 25px;
            }
    </style>
</head>
<i>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Myblog</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>

      <li><a href="#">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
            <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
            <li><a href="/pools/create_post_panel/">Create New Post</a></li>
        {%else%}
            <li><a href="/accounts/login/"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
        {%endif%}
    </ul>
  </div>
</nav>
{% if cmt %}
    <div class="header">
        <b>{{cmt.Title}}</b>
        <p>{{cmt.Pub_date}}</p>
    </div>
    <div class="content">
        <i><p>{{cmt.Content}}</p></i>
        {% block content %}
        {%if cmt.Image == 'media/None/no-img.jpg'%}
            <img src="{{cmt.Image.url}}" width="50" height="25" alt="{{cmt.Image}}">
        {%else%}
            <img src="{{cmt.Image.url}}" width="640" height="360" alt="{{cmt.Image}}">
    </div>
    {%endif%}
    {% endblock %}
    <p>{% autoescape off %}{{cmt.Emb_html}}{% endautoescape %}</p>
{%else%}
    <b>not found</b>
{%endif%}
<hr>
{% if auth_user%}

<a href="/pools/get/{{cmt.id}}/edit" class="btn btn-success">Edit this Post</a>
<a href="/pools/get/{{cmt.id}}/delete/" class="btn btn-danger">Delete this Post</a>
<hr>

<a href="/accounts/logout/">logout</a>
{%else%}
    <a href="/accounts/login/">Login to edit </a>
{%endif%}
</body>
</html>